<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book view</title>
</head>
<body>

<h1>Book view</h1>

<table>
  <tr>
    <td>Author:</td>
    <td id="author"></td>
  </tr>
  <tr>
    <td>Title:</td>
    <td id="title"></td>
  </tr>
  <tr>
    <td>Publish date:</td>
    <td id="publishDate"></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td id="price"></td>
  </tr>
  <tr>
    <td>Used:</td>
    <td id="used"></td>
  </tr>
  <tr>
    <td>Tags:</td>
    <td id="tags"></td>
  </tr>
</table>

<p><a href="/book-list">Return</a></p>

<script src="/scripts/bo-client.js"></script>
<script src="/scripts/bo-data.js"></script>
<script src="/scripts/book-view.js"></script>

</body>
</html>