<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API client test</title>
</head>
<body>

<h1>API client test</h1>

<table>
  <tr>
    <td>Author:</td>
    <td id="author"></td>
  </tr>
  <tr>
    <td>Title:</td>
    <td id="title"></td>
  </tr>
  <tr>
    <td>Publish date:</td>
    <td id="publishDate"></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td id="price"></td>
  </tr>
  <tr>
    <td>Used:</td>
    <td id="used"></td>
  </tr>
  <tr>
    <td>Tags:</td>
    <td id="tags"></td>
  </tr>
</table>

<p>
  <button onclick="simulateError()">Simulate error</button>
  <a href="/">Return</a>
</p>

<script src="/scripts/bo-client.js"></script>
<script src="/scripts/bo-data.js"></script>
<script src="/scripts/book-test.js"></script>

</body>
</html>